#textdomain wesnoth
#this file contains macros for After Max Level Advancement (AMLA)

#define AMLA_DEFAULT
    # Canned definition of the default AMLA.
    [advancement]
        strict_amla=yes
        max_times=-1
        id=amla_attacks
        description= _ "dextrous"
        image="icons/instrument_kantele.png"
        [effect]
            apply_to=attack
            range=ranged
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=-1
        id=amla_movement
        description= _ "quick"
        image="icons/boots_elven.png"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=-1
        id=amla_damage
        description= _ "strong"
        image="icons/crossed_sword_and_hammer.png"
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
#enddef

#define AMLA_TOUGH HP_ADVANCE_NUMBER
    # Canned definition of an AMLA adding HP, without fullhealing.
    [advancement]
        strict_amla=yes
        max_times=-1
        id=tough_{HP_ADVANCE_NUMBER}
        description= _ "Max HP bonus +" {HP_ADVANCE_NUMBER} _", MAX XP +25%"
        image="misc/icon-amla-tough.png"
        [effect]
            apply_to=hitpoints
            increase={HP_ADVANCE_NUMBER}
            increase_total={HP_ADVANCE_NUMBER}
        [/effect]
        [effect]
            apply_to=max_experience
            increase=5%
        [/effect]
    [/advancement]
#enddef
